{%- assign buildAt = site.time | date: "%Y%m%d%H%M%S" -%}
<script>window.blog={baseurl:"{{site.baseurl}}", buildAt:"{{buildAt}}"}</script>
<script type="text/javascript" src="{{site.baseurl}}/static/js/blog.js?t={{ buildAt }}"></script>
{% if page.searchPage -%}
<script type="text/javascript" src="{{site.baseurl}}/static/js/search.js?t={{ buildAt }}"></script>
{% endif %}

{%- if site.extClickEffect %}
<!-- 点击页面文字冒出特效 -->
<script>
;(function(){
  var textArr = ['Alice in 冷凍庫','水星', 'Trash Day', 'DAYBREAK FRONTLINE', 'Uz', 'Still-GATE', 'White Landscape', 'RIP', ' サンダルリープ', '回る空うさぎ', '八十八鍵の宇宙', 'SEASIDE SOLILOQUIES']
  window.blog.initClickEffect(textArr)
})()
</script>
{% endif %}

{%- if site.extMTA %}
{% include ext-mta.html %}
{% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-160002693-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-160002693-1');
</script>

{%- if site.extMath and page.layout=="mypost" -%}
{% include ext-mathjax.html %}
{% endif %}
