<!DOCTYPE html>
<html>
{% include head.html -%}
<body ondragstart="return false;">
{% include header.html -%}
<div class="page page-post">
  <h1 class="title" id="{{ page.title }}">{{ page.title }}</h1>
  {% if page.date %}
  <div class="subtitle">{{ page.date | date: "%Y-%m-%d" }}  |  Share to 
  <a href="https://twitter.com/intent/tweet?text=%e5%88%86%e4%ba%ab%e6%9d%a5%e8%87%aa{{site.title}}%e7%9a%84%e6%96%87%e7%ab%a0%ef%bc%9a{{page.title}}&url={{page.url | absolute_url }}&via={{site.author}}" 
  target="_blank" style="color: #999999;">Twitter</a></div>
  {% endif %}
  <div class="post">
    {{ content }}
  </div>
  {% if site.extAdsense -%}
  <div class="adsense" style="overflow: hidden;">
    {% include ext-adsense.html -%}
  </div>
  {% endif %}
</div>
{% include valine.html -%}
{% include footer.html -%}
{% include script.html -%}
</body>
</html>